*:focus { outline: none; }

html,body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: helvetica, arial, sans-serif;
}

body {
  background-image:url('background.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-color:#96b4cc;
}

div.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -16px;
}

div#header {
  min-width: 800px;
  background-color: #2a5799;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  padding-left: 16pt;
  padding-right: 16pt;
  padding-top: 16pt;
  box-shadow: 0px 3px 16px #000;
  -webkit-box-shadow: 0px 3px 16px #000;
  -moz-box-shadow: 0px 3px 16px #000;
  text-align: center;
}

div#content {
  position: relative;
  background-color: #f2f5ff;
  min-width: 800px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  min-height: 70%;
  padding: 16pt;
  box-shadow: 0px 3px 16px #000;
  -webkit-box-shadow: 0px 3px 16px #000;
  -moz-box-shadow: 0px 3px 16px #000;
}

p.welcome {
  text-align: center;
  width: 100%;
  font-size: 28pt;
  top: 10%;
  position: absolute;
  font-weight: bold;
}

p.prompt {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 4em;
  top: 35%;
  margin-top: auto;
  maring-bottom: auto;
}

input#zip {
  border: 2px solid #999922;
  background-color: #ffffdd;
  width: 8em;
  height: 2em;
  text-align: center;
  font-size: 12pt;
}

div#footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-bottom: 8px;
  font-size: 8pt;
}

div#footer a {
  text-decoration: none;
  color: #007;
}

div#footer a:hover {
  color: #00f;
  text-decoration: underline;
}

span#instruct {
  font-size: 8pt;
  color: #b00;
}

span.hidden {
  visibility: hidden;
}

div#spinner {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.2;
}

div#spinner img {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50%;
}
