.settings
.externalToolBuilders
.classpath
.project
target
.DS_Store
.settings
*~
webapp/.DS_Store

webapp/src/.DS_Store

webapp/src/main/.DS_Store
redeploy
.pom.xml.swp

facets/annotator/src/main/java/InstallCert.class

facets/annotator/src/main/java/InstallCert.java

facets/annotator/src/main/java/InstallCert$SavingTrustManager.class

facets/annotator/pom.xml.notworking

facets/annotator/pom.xml.orig

facets/annotator/pom.xml.sesame-issue

facets/annotator/pom.xml.current

facets/annotator/src/main/java/jssecacerts

pom.xml.old
webapp/test

*.swp

*.class

*.swo
core/test/*

#*#
.#*
bin/



.#*
