*:focus { outline: none; }

html,body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: helvetica, arial, sans-serif;
  font-size: 10pt;
}

body {
  background-image:url('background.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-color:#96b4cc;
}

body.selector {
  background-image: none;
  background-color: white;
}

p {
/*  padding-bottom: 1em;*/
  margin-bottom: 1em;
}

div.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -16px;
}

p#reportSite {
  text-align: center;
  width: 100%;
}

div.table-wrapper {
  max-height: 300px;
  max-width: 600px;
  overflow: scroll;
}

div#header {
  min-width: 960px; 
  background-color: #2a5799;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  padding-left: 16pt;
  padding-right: 16pt;
  padding-top: 16pt;
  box-shadow: 0px 3px 16px #000;
  -webkit-box-shadow: 0px 3px 16px #000;
  -moz-box-shadow: 0px 3px 16px #000;
  text-align: center;
}

div#header img {
  height: 100%;
}

table {
  border: 1px solid black;
  margin-bottom: 1em;
  width: 100%;
}

table th {
  border-bottom: 1px solid black;
  font-weight: bold;
}

table th, table td {
  padding: 4pt;
}

div#content {
  position: relative;
  background-color: #f2f5ff;
  min-width: 960px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  height: 110%;
  padding: 16pt;
  box-shadow: 0px 3px 16px #000;
  -webkit-box-shadow: 0px 3px 16px #000;
  -moz-box-shadow: 0px 3px 16px #000;
}

p.welcome {
  text-align: center;
  width: 100%;
  font-size: 28pt;
  top: 10%;
  position: absolute;
  font-weight: bold;
}

p.prompt {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 4em;
  top: 35%;
  margin-top: auto;
  maring-bottom: auto;
}

input#zip {
  border: 2px solid #999922;
  background-color: #ffffdd;
  width: 5em;
  height: 1.6em;
  text-align: center;
}

div#footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-bottom: 8px;
  font-size: 8pt;
}

div#footer a {
  text-decoration: none;
  color: #007;
}

div#footer a:hover {
  color: #00f;
  text-decoration: underline;
}

span#instruct {
  font-size: 8pt;
  color: #b00;
}

span.hidden {
  visibility: hidden;
}

div#spinner {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0.8;
	text-align: center;
}

div#spinner img {
	margin-left: auto;
	margin-right: auto;
	margin-top: 25%;
	width: 48px;
}

table img {
	width: 16px;
	height: 16px;
}

div#sparql {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #888;
    opacity: 0.8;
}

div#sparql2 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

div#sparql2 div {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    background-color: #fff;
    margin: -5pt;
    padding: 5pt;
    padding-bottom: 25pt;
}

div#sparql-content {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    background-color: #fff;
    opacity: 1.0;
    overflow: scroll;
    margin: -5pt;
    padding: 5pt;
}

div#sparql div.big {
    width: 100%;
    position: absolute;
    top: 85%;
    left: 0px;
    text-align: center;
    padding-top: 5pt;
}

div#sparql div.big a {
    cursor: pointer;
    color: #300000;
    font-weight: bold;
}

div#page {
    text-align: center;
    width: 100%;
}

a img {
    cursor: pointer;
}

div.map-popup {
    font-size: 8pt;
    max-height: 270px;
    max-width: 290px;
    overflow: scroll;
}

div.map-popup table {
    border: 1px solid black;
}

div#page a.selected {
    text-decoration: none;
    color: black;
    cursor: text;
}

div.modal-display {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    z-index: 5000;
}

div.modal-fadeout {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.8;
    background-color: #888;
}

div#modal-window {
    -moz-box-shadow: 0 0 10px #444;
    -webkit-box-shadow: 0 0 10px #444;
    box-shadow 0 0 10px #444;
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    bottom: 37.5%;
    position: relative;
}

div#modal-title-bar {
    z-index: 5001;
}

div.modal-window-container {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
}

div#modal-window div#modal-title-bar a {
    float: right;
    display: block;
    clear: right;
    padding: 6pt;
    text-decoration: none;
    color: black;
}

div#modal-content-container {
    width: 100%;
    height: 100%;
}

div#modal-content {
    width: 776px;
    height: 546px;
    padding: 12px;
    top: 32px;
    position: absolute;
}

p.top { margin: 0; }
div.top { height: 2em; }
div.bottom { height: 2em; }

table#p {
	max-width: 500px;
	max-height: 400px;
}

/*#plotarea {
	display: none;
}*/

#plot {
	text-align: center;
	/*display: none;*/
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

