
    body {
      font: 12px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
      color: #404040;
      background: #47496D;
      background-image: -webkit-radial-gradient(center, circle cover, #6b6e8c, #212649);
      background-image: -moz-radial-gradient(center, circle cover, #6b6e8c, #212649);
      background-image: -o-radial-gradient(center, circle cover, #6b6e8c, #212649);
      background-image: radial-gradient(center, circle cover, #6b6e8c, #212649);
    }
    #wrap{
      margin: 80px auto;
      width: 960px;
      padding: 10px;
      overflow: hidden;
      background: #FAFAFA;
      border-radius: 4px;
      -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    }
    form{
      background: #CCC;
      border-radius: 2px;
      padding: 10px;
    }
    table {
      max-width: 100%;
      background-color: #fff;
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      margin-bottom: 20px;
    }
    table th{
      background: #eae4ff;
    }
    table th,
    table td {
      padding: 8px;
      line-height: 20px;
      text-align: left;
      vertical-align: top;
      border-top: 1px solid #dddddd;
    }
    table {
      border: 1px solid #dddddd;
      border-collapse: separate;
      *border-collapse: collapse;
      border-left: 0;
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
    }
    table th,
    table td {
      border-left: 1px solid #dddddd;
    }

    table tr:nth-child(odd){
      background-color: #f9f9f9;
    }

    table tr:hover td
    {
      background-color: #f5f5f5;
    }

    table tr:first-child{
      font-weight: bold;
    }