<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>SemantAqua Portal Application</display-name>

<!-- 
  <servlet>
    <display-name>SemantAqua</display-name>
    <servlet-name>SemantAqua</servlet-name>
    <servlet-class>edu.rpi.tw.escience.waterquality.SemantAquaServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>SemantAqua</servlet-name>
    <url-pattern>/rest/*</url-pattern>
    <url-pattern>/js/modules/*</url-pattern>
  </servlet-mapping>
-->

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
