*:focus { outline: none; }

html,body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: helvetica, arial, sans-serif;
  font-size: 10pt;
}

body {
  background-image:url('../images/background.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-color:#96b4cc;
}

body.selector {
  background-image: none;
  background-color: white;
}

p {
/*  padding-bottom: 1em;*/
  margin-bottom: 1em;
}

div.container {
  width: 100%;
  /*height: 100%;*/
  position: relative;
  top: -16px;
}

p#reportSite {
  text-align: center;
  width: 100%;
}

div.table-wrapper {
  max-height: 280px;
  max-width: 600px;
  overflow: scroll;
}

.table-wrapper td{
  text-align: center;
}

div#header {
  min-width: 960px; 
  /*background-color: #2e16ca; */
  background-color: #0033CC;
  width: 100%;
  height: 100px;
  box-shadow: 0px 3px 16px #000;
  -webkit-box-shadow: 0px 3px 16px #000;
  -moz-box-shadow: 0px 3px 16px #000;
  text-align: center;
}

div#header img {
  height: 100%;
}

div#header div.header-text {
	height: 100%;
	line-height: 6em;
}

div#header div.header-text span {
	font-family: "Bookman Old Style", Times, serif;
	font-size: 400%;
	color: #f5ef90;
	text-shadow: 0px 4px 8px #000;
}

table {
  border: 1px solid black;
  margin-bottom: 1em;
  width: 100%;
  background-color: white;
}

table th {
  border-bottom: 1px solid black;
  font-weight: bold;
}

table th, table td {
  padding: 4pt;
}

table .odd{
  background: #eee;
}

div#content {
  position: relative;
  /*background-color: #f2f5ff;*/
  background: white;
  min-width: 960px;
  width: 100%;
  min-height: 100%;
  padding: 16pt;
  padding-bottom: 0px;
  box-shadow: 0px 3px 16px #000;
  -webkit-box-shadow: 0px 3px 16px #000;
  -moz-box-shadow: 0px 3px 16px #000;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div#display{
  float: left;
  width: 80%;
  position: relative;
}

div#map_canvas{
  height: 720px;
}

p.welcome {
  text-align: center;
  width: 100%;
  font-size: 28pt;
  top: 10%;
  position: absolute;
  font-weight: bold;
}

p.prompt {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 4em;
  top: 35%;
  margin-top: auto;
  maring-bottom: auto;
}

input#zip {
  border: 2px solid #999922;
  background-color: #ffffdd;
  width: 5em;
  height: 1.6em;
  text-align: center;
}

div#footer {
  margin-top: 20px;
  width: 100%;
  /*position: absolute;*/
  /*bottom: 0;*/
  text-align: center;
  padding-bottom: 8px;
  font-size: 8pt;
}

div#footer a {
  text-decoration: none;
  color: #007;
}

div#footer a:hover {
  color: #00f;
  text-decoration: underline;
}

span#instruct {
  font-size: 8pt;
  color: #b00;
}

span.hidden {
  visibility: hidden;
}

div#spinner {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0.8;
	text-align: center;
	z-index: 100000;
}

div#spinner img {
	margin-left: auto;
	margin-right: auto;
	margin-top: 25%;
	width: 48px;
}

table img {
	width: 16px;
	height: 16px;
}

div#sparql {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #888;
    opacity: 0.8;
}

div#sparql2 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

div#sparql2 div {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    background-color: #fff;
    margin: -5pt;
    padding: 5pt;
    padding-bottom: 25pt;
}

div#sparql-content {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    background-color: #fff;
    opacity: 1.0;
    overflow: scroll;
    margin: -5pt;
    padding: 5pt;
}

div#sparql div.big {
    width: 100%;
    position: absolute;
    top: 85%;
    left: 0px;
    text-align: center;
    padding-top: 5pt;
}

div#sparql div.big a {
    cursor: pointer;
    color: #300000;
    font-weight: bold;
}

div#page {
    margin: 8px 0;
    text-align: center;
    width: 100%;
}

div#page a{
  display: inline-block;
  padding: 4px 6px;
  border: 1px solid #003769;
  border-radius: 2px;
  color: black;
  text-decoration: none;
}

div#page a:hover{
  background:#A2C8EB; 
}

div#page a.selected{
  background: #0070D6;
  color: white;
  cursor: default;
}

a img {
    cursor: pointer;
}

div.map-popup {
    font-size: 8pt;
    max-height: 270px;
    max-width: 290px;
    overflow: scroll;
}

div.map-popup table {
    border: 1px solid black;
}

/*div#page a.selected {
    text-decoration: none;
    color: black;
    cursor: text;
}*/

div.modal-display {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    z-index: 5000;
}

div.modal-fadeout {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.8;
    background-color: #888;
}

div#modal-window {
    -moz-box-shadow: 0 0 10px #444;
    -webkit-box-shadow: 0 0 10px #444;
    box-shadow 0 0 10px #444;
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    bottom: 37.5%;
    position: relative;
}

div#modal-title-bar {
    z-index: 5001;
}

div.modal-window-container {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
}

div#modal-window div#modal-title-bar a {
    float: right;
    display: block;
    clear: right;
    padding: 6pt;
    text-decoration: none;
    color: black;
}

div#modal-content-container {
    width: 100%;
    height: 100%;
}

div#modal-content {
    width: 776px;
    height: 546px;
    padding: 12px;
    top: 32px;
    position: absolute;
}

p.top { margin: 0; }
div.top { height: 2em; }
div.bottom { height: 2em; }

table#p {
	max-width: 500px;
	max-height: 400px;
}

/*#plotarea {
	display: none;
}*/

#plot {
	text-align: center;
	/*display: none;*/
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

div.main {
	text-align:center;
}

div.sidebar {
/*	margin-left: auto;
	margin-right: auto;
	width: 100%;*/
  float:right;
  width: 18%;
  position: relative;
  height: 100%;
}

div#facets {
	/*float:right;*/
	width:100% !important;
}

div#facets select {
    width: 100%;
}

input[type='button'],input[type='submit']{
    clear:both;
    font-family: Arial,Helvetica,verdana,sans-serif;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    /*display: block;*/
    font-size: 13px;
    font-weight: bold;
    padding: 2px 5px;
    text-align: middle;
    text-decoration: none;
    text-shadow: 0 -1px 0.3px rgba(0, 0, 0, 0.3);
    /*vertical-align: middle;*/
    /*background: #0076ca;*/
    background: url("../images/grad_bg_sprite.png") 0 -35px repeat-x;
    border: 1px solid #1B6CDE;
    color: #FFFFFF;
    height: 25px;
    width: 57px;
}

input[type='button']:hover,input[type='submit']:hover{
    background: url("../images/grad_bg_sprite.png") 0 0px repeat-x;
}

input[type='button']:disabled,input[type='submit']:disabled{
    background: #8A8A8A;
}

div.facet select {
	width: 100%;
}

div#infowindowcontainer{
  height:370px;
  min-width:550px;
  max-width: 680px;
  overflow: auto;
}

div#infowindowcontent{
  /*height:300px;*/
}

div#infowindowcontrol{
  margin-top: 20px;
  line-height: 21px;
}

div#infowindowcontrol a{
  cursor: pointer;
  color:blue;
  text-decoration: underline;
}

div#infowindowcontrol a:hover{
  color: orange;
}

.jqplot-table-legend{
  width: auto;
}

.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50000;
}

.lightbox .lb_shadow{
    width: 100%;
    height: 100%;
    background: url("../images/bg.png") repeat scroll 0 0;
}

.lightbox .positioner{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y:auto;
}

.lightbox .lb_container{
    position: relative;
    width: 70%;
    height: 500px;
    margin: 0 auto;
    top: 70px;
    background: white;
    border-radius: 4px;
}

.lightbox .lb_container .lb_loading{
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.8;
  text-align: center;
  z-index: 1;
}

.lightbox .lb_container .lb_loading img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  width: 48px;
}

.lightbox .lb_container .lb_closebutton{
    /*position: absolute;*/
    float: right;
    position: relative;
    right: 5px;
    top: 5px;
    cursor: pointer;
    display: block;
    height: 24px;
    width: 15px;
    background: url("../images/close.png") no-repeat;
}

.lightbox .lb_container .lb_closebutton:hover{
    background-color: #D0E5F5;
}

.lightbox .lb_container .lb_content{
    position: relative;
    padding:0 25px 0 25px;
}

.lb_content .leftcolumn{
    float: left;
    width: 70%;
}

.leftcolumn #lightboxchart{
    margin-top: 2%;
}

.lb_content .selectscontainer{

}

.lb_content .rightcolumn{
    float: right;
    width: 25%;
    /*background: #EEE;*/
}

.lb_content .specietree{
    height: 300px;
}

.clear{
    clear: both;
}

div#description_map {
	width: 100%;
	height: 100%;
}

div.specietree>div {
	width: 100%;
	height: 100%;
	position: relative;
}

div.specietree>div div#show_map {
	position:absolute;
	top:1.9em;
	overflow: scroll;
	background-color: white;
	padding-right: 1em;
	width: 100%;
	max-height: 110%;
	display: none;
}

.ui-autocomplete {
	max-height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 1000 !important;
}

div.facet .ui-autocomplete-input {
	width: 90px;
	margin-right: 1em;
}

div.hierarchy div.wrapper {
	height: 100px;
	width: 100%;
	overflow: auto;
	background-color: #ffe;
	position: relative;
}

div.hierarchy div.loading {
	opacity: 0.75;
	background-color: white;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 1000 !important;
	position: absolute;
	text-align: center;
}

div.rightcolumn div.hierarchy div.wrapper {
	height: 400px;
}

div.button {
	position: relative;
	z-index: 2000;
	display:block;
	clear:both;
    font-family: Arial,Helvetica,verdana,sans-serif;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    /*display: block;*/
    font-size: 13px;
    font-weight: bold;
    padding: 8px 0px;
    text-decoration: none;
    text-shadow: 0 -1px 0.3px rgba(0, 0, 0, 0.3);
    /*vertical-align: middle;*/
    /*background: #0076ca;*/
    background: url("../images/grad_bg_sprite.png") 0 -35px repeat-x;
    border: 1px solid #1B6CDE;
    color: #FFFFFF;
    height: 13px;
    width: 100%;
    margin-bottom: 5pt;
}

div.button:hover {
    background: url("../images/grad_bg_sprite.png") 0 0px repeat-x;
}

div#facets table.ui-state-highlight {
    display: block;
    border: 1px dashed #8686fc;
    height: 100px;
    background: white;
    margin-bottom: 1em;
}

.ui-tooltip p {
    padding: 0;
    margin: 0;
}
